[alias]
    # Iterating over local branches which their remote branch was deleted.
    branch-delete-local = "!f() { git branch -vv | findstr '[origin/.*: gone]' | awk '{print $1}' | xargs -r git branch -D; }; f"
